body{
backgroud: #CCCCCC
}

p{
text-align: center;
}

em strong{
color:hotpink;
}

#barbadehomem{
width: 100%;
}

h1{
text-align: center;
}

.itens{
font-style:italic;
}

.isa {
   background:lightyellow;
}

.isabela{
   background:lightblue;
}